/*AVATAR AND STATUS BLOCKS*/
.profile_status {
    padding:10px 0 30px;
    margin: 0 0 0 2px;
}
.ava {
    float: left;
    height: 120px;
    width: 120px;
    margin: 0 30px 0 0;
}
.ava .profile-img,
.ava a.shadow::before {
    height: 120px;
    width: 120px;
    display:block;
    border-radius: 50%;
}
.ava a.shadow {
    display:block;
    position:relative;
}
.ava a.shadow::before {
    content:'';
    position:absolute;
    -moz-box-shadow:inset 0 3px 0 0 rgba(0,0,0,0.75);
    -webkit-box-shadow:inset 0 3px 0 0 rgba(0,0,0,0.75);
    box-shadow:inset 0 3px 0 0 rgba(0,0,0,0.75);
}

/*NAVIGATION TABS*/

#tabs {
    position: relative;
    margin-top: 50px;
}
#inset {
    height:47px;
    position: absolute;
    top: -46px;
}
ul#line_tabs {
    list-style:none;
    margin: 0;
    padding:0 0 0 4px;
    display: inline-block;
}
ul#line_tabs li {
    display:inline-block;
    float:right;
    margin-top:10px;
    margin-right:0;
    position:relative;
    overflow:visible;
    padding: 0 0 0 20px;
    background: url("img/tab_bg.png") repeat-x left top,
        linear-gradient(-225deg, #e3e3e3, #efefef);
    line-height: 37px;
    font-size: 12px;
}
ul#line_tabs li.active {
    background: url("img/tab_active_bg.png") repeat-x left top;
    line-height: 47px;
    z-index: 50;
    padding-top: 1px;
    margin-top: 0;
    margin-right: 0; /* -37px */
}
ul#line_tabs li:before,
ul#line_tabs li,
ul#line_tabs li:after {
    height:37px;
}
ul#line_tabs li.active:before,
ul#line_tabs li.active,
ul#line_tabs li.active:after {
    height:47px;
}
ul#line_tabs li:before,
ul#line_tabs li.active:before,
ul#line_tabs li:after,
ul#line_tabs li.active:after {
    content: "";
    position: absolute;
    top: 0;
}
ul#line_tabs li:before {
    right: -37px;
    width: 37px;
    background:url("img/tab_before.png") no-repeat left top;
}
ul#line_tabs li:after {
    left: -4px;
    width: 4px;
    background:url("img/tab_after.png") no-repeat left top;
}
ul#line_tabs li:first-child:before {
    background: url("img/tab_before_last.png") no-repeat left top;
}
ul#line_tabs li:first-child.active:before {
    background: url("img/tab_active_before_last.png") no-repeat left top;
}
ul#line_tabs li.active:before {
    right: -46px;
    width: 46px;
    background:url("img/tab_active_before.png") no-repeat left top;
}
ul#line_tabs li.active:after {
    left: -4px;
    width: 4px;
    background:url("img/tab_active_after.png") no-repeat left top;
}
ul#line_tabs li a,
ul#line_tabs li.active a {
    text-decoration:none;
    display: block;
    padding: 0;
    margin: 0;
    height: 100%;
}
ul#line_tabs li a {
    margin-right: 9px;
    margin-left: 19px;
}
ul#line_tabs li:hover a {
    color: #444444;
}
ul#line_tabs li.active a {
    color: #757575;
    font-weight: bold;
    margin-left: 0;
}
ul#line_tabs li:last-child a {
    margin-left: 0;
}
/*----------------------------------------------------------*/

/*tabs-1*/

.personal_page {
    background-color: #f8f8f8;
    border-radius: 0 3px 3px 3px;
    border: 1px solid #C8CBCD;
    padding: 25px;
}

.mark_valid {
    background-image: url("img/mark_valid.png") !important;
    background-repeat: no-repeat;
    background-position: center right;
}

.personal_page .row {
    margin: 10px 30px 10px 0;
    width: 490px;
    background: url("img/mark_notvalid.png") no-repeat center right;
}
.personal_page .row:after {
    content: "";
    clear: both;
}

.personal_page .row label {
    width: 60px;
}

.personal_page .check_green {
    font-size: 12px;
    margin: 10px 0;
}

.personal_page input[type=text],
.personal_page input[type=password] {
    height: 28px;
    border: solid 1px #cacaca;
    border-radius: 3px;
    padding: 0 12px;
    font-family: Tahoma, sans-serif;
    font-size: 11px;
    color: #757575;
}
.personal_page input[type=text] {
    width: 360px;
}

.form_block {
    margin: 30px 0 0 0;
}

.form_block input[type=password] {
    width: 150px;
}

/*--------------------------------------------------------------------*/
.check_green input[type=checkbox],
.check_blue input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.check_green label,
.check_blue label {
    cursor: pointer;
}
.check_green label:after,
.check_blue label:after {
    content: ' ';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(img/checkbox.png);
    position: relative;
    top: 3px;
    margin-left: 15px;
}

.check_green input[type=checkbox]:checked + label:after {
    background-position: 0 -16px;
}

.check_blue input[type=checkbox]:checked + label:after {
    background-position: 0 -32px;
}
/*--------------------------------------------------------------------*/
.form_block .float-left {
    margin-right: 39px;
}
.form_block .last {
    margin-right: 0 !important;
}

.form_block span {
    font-size: 11px;
}

.form_block .row {
    background-position: right 10px;
}

.form_block .mark_valid {
    background-position: right 10px;
}

.avatar {
    padding: 10px 0;
}

/*tabs-2*/



#bill_select { list-style-type: none; margin: 0; padding: 0; width: 469px; }



/*----------*/
#bill_select li {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 32px;
    color: #535252;
    font-weight: bold;
    font-size: 13px;
    line-height: 32px;
    margin: 4px 0;
    padding: 0 15px;
    background: url("img/bg_bill.png") repeat-x center #f4f4f4;
}

#bill_select li:before {
    background: url("img/bg_bill_before.png") no-repeat center left;
    left: -4px;
}

#bill_select li:after {
    background: url("img/bg_bill_after.png") no-repeat center right;
    right: -4px;
}

#bill_select li:before,
#bill_select li:after {
    content: "";
    position: absolute;
    top: 0;
    height: 32px;
    width: 4px;
}

#bill_select li.ui-selected {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 32px;
    color: #535252;
    font-weight: bold;
    font-size: 13px;
    line-height: 32px;
    margin: 4px 0;
    padding: 0 15px;
    background: url("img/bg_bill_active.png") repeat-x center;
}

#bill_select li:before.ui-selected {
    background: url("img/bg_bill_active_before.png") no-repeat center left !important;
    left: -4px;
}

#bill_select li:after.ui-selected {
    background: url("img/bg_bill_active_after.png") no-repeat center right !important;
    right: -4px;
}

#bill_select li:before.ui-selected,
#bill_select li:after.ui-selected {
    content: "";
    position: absolute;
    top: 0;
    height: 32px;
    width: 4px;
}
/*---------------------------------*/

#bill_text {
    padding-left: 520px;
}

#bill_text>p {
    margin: 6px 0;
    padding: 0;
}



p.bill_selected {
    font-size: 12px;
    color: #535252;
    line-height: 32px;
}

p.bill_unselected {
    font-size: 11px;
    color: #aeaeae;
    line-height: 32px;
}

#bill_select span.bill_title {
    display: inline-block;
    width: 100px;
}

#bill_active span.finance {
    display: inline-block;
    width: 90px;
}

#bill_select span.balance,
#bill_active span.finance {
    display: inline-block;
    padding: 0 0 0 20px;
}

#bill_active {
    background-color: #e4f2e0;
    margin: 25px 0 0 0;
    padding: 10px 0;
}

#bill_active p {
    color: #535252;
    font-weight: bold;
}

#bill_active p:last-child {
    margin-bottom: 0;
}

#bill_active .earn_money:after {
    content: "«Экструм»";
    font-size: 11px;
    line-height: 15px;
    color: #80897e;
    padding: 0 0 0 30px;
}

#bill_active .bill_button {
    padding: 40px 0 0 300px;

}

/*tabs-3*/

#tabs-3 input[type=text] {
    width: 184px;
}

.list_sort>div {
    margin-right: 25px;
}

.list_sort>div:last-child {
    margin-right: 0;
}

#tabs-3 select {
    height: 27px;
    width: 111px;
    background: url("img/bg_select.png") repeat-x center;
    border: solid 1px #bcbcbc;
    border-radius: 3px;
    color: #686868;
    font-size: 12px;
}

/*#tabs-3 input[type=submit] {*/
    /*position: relative;*/
    /*height: 32px;*/
    /*background: url("img/bg_submit.png") repeat-x center,*/
                /*linear-gradient(180deg, #2caf41, #2b612e);*/
    /*color: #ffffff;*/
    /*padding: 0 30px;*/
    /*border: none;*/
/*}*/

/*#tabs-3 input[type=submit]:before {*/
    /*background: url("img/bg_submit_before.png") no-repeat center left;*/
    /*left: 6px;*/
/*}*/

/*#tabs-3 input[type=submit]:after {*/
    /*background: url("img/bg_submit_after.png") no-repeat center right;*/
    /*right: -6px;*/
/*}*/

/*#tabs-3 input[type=submit]:before,*/
/*#tabs-3 input[type=submit]:after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*top: 0;*/
    /*height: 32px;*/
    /*width: 6px;*/
    /*border: solid 1px red;*/
/*}*/

/*-------------------------------*/
.submit_form a {
    position: relative;
    height: 30px;
    background: url("img/bg_submit.png") repeat-x center,
                linear-gradient(180deg, #2caf41, #2b612e);
    color: #ffffff;
    padding: 0 20px;/*было 25 проверить как лучше*/
    display: inline-block;
    line-height: 30px;
    border: none;
}

.submit_form a:before {
    background: url("img/bg_submit_before.png") no-repeat center left;
    left: -6px;
}

.submit_form a:after {
    background: url("img/bg_submit_after.png") no-repeat center right;
    right: -6px;
}

.submit_form a:before,
.submit_form a:after {
    content: "";
    position: absolute;
    top: 0;
    height: 30px;
    width: 6px;
}
/*---------------*/

/*#tabs-3 input[type=radio],*/
/*#tabs-3 input[type=radio] span {*/
    /*vertical-align: middle;*/
/*}*/


.list_title {
    font-size: 12px;
    font-weight: bold;
}

.list_title p>span {
    display: inline-block;
    color: #ffffff;
    line-height: 2em;
    padding: 0 5px;
    background-color: #525252;
    border-radius: 3px;
}

#tabs-3 table,
table#request_history  {
    width: 100%;
    text-align: center;
}

#tabs-3 table th,
#tabs-3 table td {
    border: solid 1px #c9c9c9;
    border-collapse: collapse;
    height: 40px;
}

#tabs-3 table th {
    color: #535252;
}

#tabs-3 table td {
    font-size: 12px;
    color: #686868;
}

#tabs-3 table tr:nth-child(odd) {
    background-color: #ffffff;
}

#tabs-3 table tr:nth-child(even) {
    background-color: #f8f8f8;
}

#tabs-3 .th_1 {
    width: 5%;
}

#tabs-3 .th_2 {
    width: 28%;
}

#tabs-3 .th_3 {
    width: 68%;
}

#tabs-3 td:nth-child(2) {
    text-transform: uppercase;
}

#tabs-3 .td_gold {
    background: url("img/bg_td_gold.png") no-repeat center center;
    color: #535252;
}

#tabs-3 .td_silver {
    background: url("img/bg_td_silver.png") no-repeat center center;
    color: #535252;
}

#tabs-3 .td_platinum {
    background: url("img/bg_td_platinum.png") no-repeat center center;
    color: #535252;
}

#tabs-3 .th_2 span,
#tabs-3 .th_3 span {
    padding: 10px 30px;
    background-repeat: no-repeat;
    background-position: center left;
}

#tabs-3 .th_2 span {
    background-image: url("img/bg_th_status.png");
}

#tabs-3 .th_3 span {
    background-image: url("img/bg_th_name.png")
}

.relative {
    position: relative;
}

div.relative span {
    position: absolute;
    bottom: 0;
    right: 10px;
    color: #77b761;
    font-size: 11px;
}

/*tabs-4*/

#tabs-4 label {
    color: #535252;
}

#tabs-4 input[type=text] {
    width: 275px;
    margin-right: 15px;
}

.key_copy a {
    width: 100px;
    position: relative;
    display: inline-block;
    color: #656565;
    font-weight: bold;
    font-size: 11px;
    line-height: 30px;
    text-align: center;
    /*padding: 0 20px;*/
    background: url("img/bg_keycopy.png") repeat-x center,
                linear-gradient(180deg, #f0f0f0, #e0e0e0) /*посмотреть еще, тут не совсем градиент*/
}

.key_copy a:before {
    background: url("img/bg_keycopy_before.png") no-repeat center left;
    left: -4px;
}

.key_copy a:after {
    background: url("img/bg_keycopy_after.png") no-repeat center right;
    right: -4px;
}

.key_copy a:before,
.key_copy a:after {
    content: "";
    position: absolute;
    top: 0;
    height: 30px;
    width: 4px;
}

/*tabs-5*/

/*Accordion*/

#shop_categories {
    font-family: Tahoma;
}

#shop_categories h3 {
    border: solid 1px #cacaca;
    background: linear-gradient(180deg, #ffffff, #f7f7f9);
    border-radius: 3px;
    box-shadow: 0 2px 3px #d3d3d3;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    margin: 12px 0 0;
    font-size: 13px;
    color: #3e3e3e;
    cursor: pointer;
    z-index: 30;
}

#shop_categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#shop_categories ul li {
    border: solid 1px #cacaca;
    background-color: #f8f8f8;
    padding: 0 15px;
    margin: 0;
    height: 36px;
    line-height: 36px;
}

#shop_categories ul li:last-child {
    border-radius: 0 0 3px 3px;
}

#shop_categories ul li span {
    display: inline-block;
    width: 200px;
    font-size: 12px;
    color: #575757;
}

#shop_categories ul li input[type=text] {
    height: 20px;
    width: 90px;
    text-align: center;
    margin-left: 350px;
}

#shop_categories ul li div {
    display: inline-block;
    padding: 0 5px 0 10px;
}

#shop_categories ul li div.check_blue {
    display: inline-block;
    padding: 0;
}

/*tabs-6*/


/*tab-7*/

#tabs-7 article {
    padding: 0 50px 0 0;
}

#tabs-7 article p {
    margin: 5px 0;
}

.news_title {
    color: #3e3e3e;
    font-weight: bold;
}

.news_text {
    font-size: 11px;
    line-height: 1.2;
    color: #585858;
}

.news_date {
    font-size: 11px;
    color: #a4a4a4;
    padding: 10px 0 0 0;
}

.readmore a {
    position: relative;
    display: inline-block;
    color: #535252;
    font-weight: bold;
    font-size: 12px;
    line-height: 27px;
    padding: 0 14px;
    background: url("img/bg_readmore.png") repeat-x center #f0f0f0;
}

.readmore a:before {
    background: url("img/bg_readmore_before.png") no-repeat center left;
    left: -4px;
}

.readmore a:after {
    background: url("img/bg_readmore_after.png") no-repeat center right;
    right: -4px;
}

.readmore a:before,
.readmore a:after {
    content: "";
    position: absolute;
    top: 0;
    height: 27px;
    width: 4px;
}

/*tab-8*/

#tabs-8 label {
    color: #3e3e3e;
}

#tabs-8 input[type=text] {
    width: 835px;
}

#tabs-8 textarea {
    width: 835px;
    height: 100px;
}

#tabs-8 div>p.float-left {
    font-size: 12px;
    color: #787878;
    padding: 5px 0 0 0;
}

#tabs-8 .submit_form {
    text-transform: uppercase;
    margin-right: 40px;
}

#tabs-6 .history_asks,
#tabs-8 .usual_question {
    font-size: 13px;
    color: #3e3e3e;
    font-weight: bold;
}

#tabs-8 .readmore {
    margin-right: 40px;
}

/*GENERAL*/

.personal_page h4 {
    font-size: 15px;
    color: #535252;
    font-weight: bold;
}

.personal_page h5 {
    font-size: 13px;
    color: #535252;
    font-weight: bold;
    padding-left: 15px;
}

.personal_page label {
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    display: block;
}

.personal_page #tabs-1 label,
.personal_page #tabs-3 label,
.personal_page #tabs-8 label {
    float: left;
    margin: 0 12px 0 0;
}


/*BUTTONS*/

/* NOT DELETE / LAST ACTUAL */

/*#tabs-2 .asks a,*/
/*#tabs-6 .asks a {*/

/*}*/

#tabs-2 .asks a {
    margin: 0 10px;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.asks a {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 37px;
    color: #535252;
    font-weight: bold;
    font-size: 13px;
    line-height: 37px;
    text-align: center;
    /*padding: 0 45px;*/
    background: url("img/bg_asks.png") repeat-x center #f0f0f0;
}

.asks a:before {
    background: url("img/bg_asks_before.png") no-repeat center left;
    left: -4px;
}

.asks a:after {
    background: url("img/bg_asks_after.png") no-repeat center right;
    right: -4px;
}

.asks a:before,
.asks a:after {
    content: "";
    position: absolute;
    top: 0;
    height: 37px;
    width: 4px;
}

/*TABLES*/

/*tabs-2, tabs-6*/
table#bill_history,
table#request_history  {
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #535252;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: -10px; /* correct offset on first border spacing if desired */
}

table#bill_history  td:nth-child(3) a,
table#request_history  td:nth-child(3) a {
    text-decoration: underline;
}

table#bill_history  tr:nth-child(odd) td,
table#request_history  tr:nth-child(odd) td {
    border: solid 1px #e6e6e6;
    border-style: solid none;
    padding: 10px;
}

table#bill_history  tr:nth-child(odd) td:first-child,
table#request_history  tr:nth-child(odd) td:first-child {
    border-left-style: solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

table#bill_history  tr:nth-child(odd) td:last-child,
table#request_history  tr:nth-child(odd) td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

table#bill_history  tr.balance_plus td:nth-child(2) span,
table#request_history  tr.balance_plus td:nth-child(2) span {
    background: url("img/bg_balance_plus.png") no-repeat center left;
    padding: 0 10px;

}

table#bill_history  tr.balance_plus td:nth-child(3) a,
table#request_history  tr.balance_plus td:nth-child(3) a {
    color: #599546;
}

table#bill_history  tr.balance_minus td:nth-child(2) span,
table#request_history  tr.balance_minus td:nth-child(2) span {
    background: url("img/bg_balance_minus.png") no-repeat center left;
    padding: 0 12px;

}

table#bill_history  tr.balance_minus td:nth-child(3) a,
table#request_history  tr.balance_minus td:nth-child(3) a {
    color: #7a1414;
}

table#bill_history  td_1,
table#request_history  td_1 {
    width: 16%;
}

table#bill_history  td_2,
table#request_history  td_2 {
    width: 20%;
}

table#bill_history  td_3,
table#request_history  td_3 {
    width: 32%;
}

table#bill_history  td_4,
table#request_history  td_4 {
    width: 32%;
}
